{
    "extends": ["@react-bootstrap", "4catalyzer-typescript", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "@typescript-eslint/consistent-type-assertions": "off",
        "import/extensions": "off",
        "import/no-cycle": [2, { "maxDepth": 1 }],
        "indent": ["off", 4, { "SwitchCase": 1 }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "linebreak-style": "off",
        "import/no-extraneous-dependencies": [
            "error",
            { "devDependencies": true }
        ],
        "import/no-dynamic-require": "off",
        "import/prefer-default-export": "off",
        "react/react-in-jsx-scope": "off",
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ],
        "no-param-reassign": "off"
    }
}
